/* Headers, and Base Page Elements */
h1 {
    color: rgb(59, 112, 170);
}

#split_bar {
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(22, 22, 30);
}

/* Sidebar */

#sidebar {
    position: fixed;
    top: 15%;
    left: 0%;

    width: 25%;
    height: 80%;

    border-style: solid;
    border-color: rgb(233, 223, 223);

    background-color: rgb(20, 21, 28);
}

#sidebar_title {
    color: white;

    position: relative;
    top: 10px;
    left: 30%;


    font-weight: bold;
    font-size: 20px;
}

#sidebar_split {
    border-top-style: solid;
    border-color: white;

    width: 50%;

    position: relative;
    top: 3%;
    left: 25%;
}

/* Kanban todo */

#kanban_todo {
    position: fixed;
    top: 15%;
    left: 27%;

    width: 23%;
    height: 80%;

    border-style: solid;
    border-color: rgb(81, 81, 82);

    background-color: rgb(26, 27, 38);
}

#todo_title {
    color: white;

    position: relative;
    top: 10px;
    left: 42%;


    font-weight: bold;
    font-size: 20px;
}

#kanban_todo_split {
    border-top-style: solid;
    border-color: white;

    width: 50%;

    position: relative;
    top: 3%;
    left: 25%;
}

/* Kanban doing */
#kanban_doing {
    position: fixed;
    top: 15%;
    left: 51.5%;

    width: 23%;
    height: 80%;

    border-style: solid;
    border-color: rgb(81, 81, 82);

    background-color: rgb(26, 27, 38);
}

#doing_title {
    color: white;

    position: relative;
    top: 10px;
    left: 36%;


    font-weight: bold;
    font-size: 20px;
}


#kanban_doing_split {
    border-top-style: solid;
    border-color: white;

    width: 50%;

    position: relative;
    top: 3%;
    left: 25%;
}

/* Kanban done */
#kanban_done {
    position: fixed;
    top: 15%;
    left: 76%;

    width: 23%;
    height: 80%;

    border-style: solid;
    border-color: rgb(81, 81, 82);

    background-color: rgb(26, 27, 38);
}

#done_title {
    color: white;

    position: relative;
    top: 10px;
    left: 42%;


    font-weight: bold;
    font-size: 20px;
}


#kanban_done_split {
    border-top-style: solid;
    border-color: white;

    width: 50%;

    position: relative;
    top: 3%;
    left: 25%;
}