/* Headers, and Base Page Elements */
h1 {
    color: rgb(59, 112, 170);
}

#split_bar {
    border-style: solid;
    border-color: white;
}

body {
    background-color: rgb(22, 22, 30);
}

/* Sidebar */

#sidebar {
    position: fixed;
    top: 15%;
    left: 0%;

    width: 25%;
    height: 570px;

    border-style: solid;
    border-color: white;
}

#sidebar_title {
    color: white;

    position: relative;
    top: 10px;
    left: 30%;


    font-weight: bold;
    font-size: 20px;
}

/* Kanban todo, doing, done boards*/

#kanban_todo {
    position: fixed;
    top: 15%;
    left: 26%;

    width: 25%;
    height: 570px;

    border-style: solid;
    border-color: white;
}

#kanban_doing {
    position: fixed;
    top: 15%;
    left: 51%;

    width: 25%;
    height: 570px;

    border-style: solid;
    border-color: white;
}

#kanban_done {
    position: fixed;
    top: 15%;
    left: 76%;

    width: 25%;
    height: 570px;

    border-style: solid;
    border-color: white;
}

rgba(37, 150, 190) kanban board colors