<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scuffed Kanban</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body onload="check_cookie()">

<!-- Main Header -->
    <h1 id="h1">scuffed kanban board!!</h1>

    <a href="{{ url_for('login_load') }}" id="login_link">Login</a>
    <a href="{{ url_for('register_load') }}" id="register_link">Register</a>

<!-- Little bar for splitting header and elements -->
    <div id="split_bar"></div>

<!-- Sidebar for creating kanban board elements -->
    <section>
        <div id="sidebar">
            <span id="sidebar_title">Create Elements</span>

            <!-- split title and elements of board -->
            <div id="sidebar_split"> </div>

    <!-- creatable elements -->
    <img src="{{ url_for('static', filename='textbox.png') }}" alt="TextBox" id="text_drag" draggable="true" ondragstart="dragstartHandler(event)" >
            <span id="text_drag_text">Create Text</span>

        </div>
    </section>

<!-- Kanban todo board -->
    <section>
        <div class="column" data-column="todo" id="kanban_todo" draggable="true" ondragstart="dragstartHandler(event)" ondragover="dragoverHandler(event)" ondrop="dropHandler(event)">
            <span id="todo_title">To Do</span>

            <!-- split title and elements of board -->
            <div id="kanban_todo_split"></div>

        
        </div>
    </section>

<!-- Kanban in progress board -->
    <section>
        <div class="column" data-column="doing" id="kanban_doing" draggable="true" ondragstart="dragstartHandler(event)" ondragover="dragoverHandler(event)" ondrop="dropHandler(event)">
            <span id="doing_title">In Progress</span>
            
            <!-- split title and elements of board -->
            <div id="kanban_doing_split">

            </div>
        </div>
    </section>

<!-- Kanban completed board -->
    <section>
        <div class="column" data-column="done" id="kanban_done" draggable="true" ondragstart="dragstartHandler(event)" ondragover="dragoverHandler(event)" ondrop="dropHandler(event)">
            <span id="done_title">Done</span>
            
            <!-- split title and elements of board -->
            <div id="kanban_done_split">

            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>